@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
@import '../../styles/components.scss';

.photo {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $beige;

  .photo__details {
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $beige;
    color: $gray;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: $letter-spacing;
  }
  .photo__actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .button {
      margin: $margin;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .labels {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $margin--big 0;
    background-color: $beige;
    text-transform: uppercase;
    letter-spacing: $letter-spacing;
    color: $gray;
    
    .labels__items {
      min-height: 60px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;

      .labels__item {
        margin: $margin;
        padding: $margin--small $margin;
        border: 1px solid $gray;
      }
    }
  }

  .photo__image {
    max-width: 100vw;
  }
}
