@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
@import '../../styles/components.scss';

.uploader {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $beige;
  color: $gray;
  text-transform: uppercase;

  .uploader__name {
    letter-spacing: $letter-spacing;
  }

  .uploader__actions {
    margin: $margin--big;
    display: flex;  
    flex-direction: row;

    .button {
      margin: 0 $margin;
    }
  }

  .uploader__upload-zone {
    margin: $margin--big;

    .uploader__drop-zone {
      color: $gray;
      border: dotted 3px $lightgray;
      padding: 2*$margin 4*$margin;
      
      &:hover {
        cursor: pointer;
      }

      &.over {
        border: dotted 3px $red;
        cursor: pointer;      
      }
    }

    .uploader__input {
      display: none;
    }
  }

  .uploader__image {
    max-width: 100%;
  }

  .uploader__image-details-container {
    margin: $margin--big;
  }
}
