<div class='navmenu'>

  <div class='navmenu__header'>
    <a class='navmenu__title navbar-brand' [routerLink]="['/photos']">
      <span class='glyphicon glyphicon-camera'></span> photorizer
    </a>
  </div>

  <ul class='navmenu__items'>
    <li class="navmenu__item" [routerLinkActive]="['link-active']">
      <a class="navmenu__item-link navmenu__item-link--desktop" [routerLink]="['/uploader']">
        <span class='glyphicon glyphicon-cloud-upload'></span> Uploader
      </a>
      <a class="navmenu__item-link navmenu__item-link--mobile" [routerLink]="['/uploader']">
        <span class='glyphicon glyphicon-cloud-upload'></span>
      </a>
    </li>
  </ul>

</div>