@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.navmenu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $navbar-background-color;
  z-index: $z-index-fixed;

  .navmenu__header {
    .navmenu__title {
      color: $font-color;
      text-transform: uppercase;
      letter-spacing: $letter-spacing--big;
    }
  }

  .navmenu__items {
    margin-bottom: 0;
    padding-right: $header-padding;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    
    .navmenu__item {
      .navmenu__item-link {
        color: white;
        text-transform: uppercase;
        letter-spacing: $letter-spacing;

        &.navmenu__item-link--desktop {
          display: none;

          @include screen(sm) {
            display: initial;
          }
        }

        &.navmenu__item-link--mobile {
          font-size: $font-size;

          @include screen(sm) {
            display: none;
          }
        }

        &:hover {
          color: $beige;
          text-decoration: none;
        }
      }
    }
  }
}
