$white: #fff;
$beige: #f5f5f5;
$lightgray: lightgray;
$gray: #3c3c3c;
$black: #1b1e27;
$red: #c95f61;
$orange: #cd7b58;

$background-color: $beige;
$navbar-background-color: $black;
$tile-background-color: $red;

$font-color: $white;
$font-color--inversed: $gray;

$z-index-overlay: 2;
$z-index-fixed: 100;

$letter-spacing: 0.2em;
$letter-spacing--big: 0.4em;

$font-size: 18px;

$header-height: 50px;
$header-padding: 15px;

$margin: 20px;
$margin--small: 10px;
$margin--big: 30px;